{
    CFBundleDisplayName = "JimWas Recorder";
    CFBundleIdentifier = "com.jimwas.recorder.preferences";
    CFBundleInfoDictionaryVersion = "6.0";
    CFBundleName = "JimWasRecorderPrefs";
    CFBundlePackageType = "BNDL";
    CFBundlePrincipalClass = "JWRRootListController";
    CFBundleShortVersionString = "1.0";
    CFBundleVersion = "1";
}
